[user]
	name = olegabyst
	email = oleg.tsyba.ua@gmail.com
[core]
	editor = vim
	quotepath = false
	filemode = false
[color]
	ui = auto
[alias]
	l = log --oneline --decorate --graph --all
	s = status -sb
	st = status
	aa = add .
	cm = commit
	co = checkout
	br = branch
	rt = remote

[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
