[user]
	name = Oleg Tsyba
	email = oleg.tsyba.ua@gmail.com
[core]
	editor = vim
	quotepath = false
	filemode = false
[color]
	ui = always
[alias]
	devs = shortlog -sen
	la = log --oneline --decorate --graph --all
	ld = log --pretty=format:'%C(yellow)%h%C(reset) %s%C(red)%d%C(reset)%n%C(cyan)a%C(reset) %C(blue)%ae%C(reset) %C(green)%ai%C(reset)%n%C(cyan)c%C(reset) %C(blue)%ce%C(reset) %C(green)%ci%C(reset)%n'
	ll = log --pretty=format:'%C(yellow)%h%C(reset) %s%C(red)%d%C(reset)%n%C(cyan)a%C(reset) %C(blue)%an%C(reset) %C(green)%ar%C(reset)%n%C(cyan)c%C(reset) %C(blue)%cn%C(reset) %C(green)%cr%C(reset)%n'
	ls = log --pretty=format:'%C(yellow)%h%C(reset)%<|(30)	%C(blue)%an%C(reset)%<|(47) %C(green)%ar%C(reset) %s%C(red)%d%C(reset)' -16
	lg = log --pretty=format:'%C(yellow)%h%C(reset)%n[%C(green)a: %ar%C(reset)] %C(blue)%an%C(reset) - %s' -E -i --grep
	loc = log --branches --not --remotes
	br = for-each-ref --color --sort='-committerdate' --format='%(color:yellow)%(refname:short)  %(color:blue)%(authorname)  %(color:green)%(committerdate)  %(color:cyan)%(subject)' --count=16
	s = status -sb

[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[rebase]
	autosquash = true
	interactive = true
