[user]
	name = Oleg Tsyba
	email = oleg.tsyba.ua@gmail.com
[core]
	editor = vim
	quotepath = false
	filemode = false
[color]
	ui = auto
[alias]
	devs = shortlog -sen
	hide = stash -u
	la = log --oneline --decorate --graph --all
	l = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s' --graph -13
	lf = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s' --graph
	lp = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s' --graph -p
	ln = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s' --graph --name-status
	lg = log --pretty=format:'%C(yellow)%h%C(reset) - %an [%C(green)%ar%C(reset)] %s' --graph -E -i --grep
	llg = log -E -i --grep
	s = status -sb
	st = status
	aa = add .
	cm = commit
	cma = commit --amend --no-edit
	co = checkout
	br = branch
	rt = remote

[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[rebase]
	autosquash = true
